html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
table {
    display:block;
    font-family: calibri;
    overflow-x:scroll;
    overflow-y:scroll;
    align-self: center;
    width: 1000px;
    height: 400px;
}
th {
    padding:5px;
    text-align: center;
    border: 1px solid black;
    background-color: #dddddd;
}

td {
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

tr {
    white-space: nowrap;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

#submitButton {
    display:none;
}

#createContainer {
    float: left;
}
#container {
    text-align: center;
    padding: 20px;
}

#statusPanel {
    text-align: center;
    padding: 10px;
}

#fileLogPanel {
    padding: 20px;
}

#calendarPanel {
    padding:20px;
}
#statusBox {
    width: 1000px;
    height: 200px;
    padding: 10px;
    align-self: center;
    background-color: #F5F5F5;
    overflow:auto;
    border: 1px solid black;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}